<nav class="mainnav" aria-label="Main">
  <div class="wrap">
    <button class="navtoggle" id="navToggle" aria-expanded="false" aria-controls="drawer">
      <span class="burger"><span></span><span></span><span></span></span> Menu
    </button>
    <div class="mainnav-in" id="nav">
      <span class="navind" id="navind" aria-hidden="true"></span>
      <a class="navbtn" href="#home">Home</a>
      <a class="navbtn" href="#visit">Why visit</a>
      <a class="navbtn" href="#menu">Menu</a>
      <a class="navbtn" href="#roasts">Roasts</a>
      <a class="navbtn" href="#about">Who we are</a>
      <a class="navbtn" href="#find">Find us</a>
    </div>
    <div class="drawer" id="drawer">
      <a class="navbtn" href="#home">Home</a>
      <a class="navbtn" href="#visit">Why visit</a>
      <a class="navbtn" href="#menu">Menu</a>
      <a class="navbtn" href="#roasts">Roasts</a>
      <a class="navbtn" href="#about">Who we are</a>
      <a class="navbtn" href="#find">Find us</a>
    </div>
  </div>
</nav>
